<footer>
	<div id="footer-left">
		<a href="mailto:tommaso.calo@polito.it"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.twitter.com/TommasoCalo1"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/tommasocalo"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="http://www.linkedin.com/in/tommasocalo"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=XRQkBEAAAAAJ&hl=it"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Fred Hohman
	</div>
	<div id="footer-right">
		Tommaso Calò is a Postdoctoral Researcher at Politecnico di Torino creating interactive machine learning systems.
	</div>
</footer>
