footer {
	background-color: $footer-bg;
    color: $footer-text;
	padding-bottom: 3rem;
	padding-top: 3rem;
	margin-top: 2em;
	text-align: center;
}

#footer-center {
    grid-column: text;
    color: $footer-text;
}

@media screen and (max-width: $mobile) {
    #footer-center {
        grid-column: page;
    }
}
