.news-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 0;
}

.news-list .news-item {
    display: flex;
    flex-direction: column;
    padding: 1.3rem;
    background-color: $black-025;
    border-radius: 0.5rem;
    transition: all .2s ease-in-out;

    &:hover {
        transform: scale(1.03);
        background-color: $black-05;
    }
}

.news-list .news-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "date"
      "details";
    row-gap: 0.5rem;
}

.news-list .news-date {
    grid-area: date;
    color: $silver;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.news-list .news-details {
    grid-area: details;
    margin-top: 0;
}

.news-list .cover-links.expanded-links {
    margin-top: 0.85rem;
}